.solutions {
margin: 30px auto 30px;
}

.solutions_content {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: repeat(2, auto);
    grid-row-gap: 20px;
    background-color: rgb(93, 118, 166, 0.3);
}

.solutions_export {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    padding: 20px 10px 20px 80px;
}

.solutions_import {
    background-color: inherit;
    border: 1px solid #2A2C2F;
    margin-left: 20px;
    background-color: rgb(245,245,245);
    margin-right: 20px;
    margin-top: 20px;
}

.solutions_transit {
    margin-left: 20px;
    background-color: inherit;
    border: 1px solid #2A2C2F;
    background-color: rgb(245,245,245);
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 20px 10px 20px 80px;
}

.solutions_transit_img {
    background-color: cornflowerblue;
    background-image: url("../../images/serv3.webp");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 20px;
    margin-left: 80px;

}

.solutions_header {
    font-size: 40px;
    letter-spacing: 1px;
    font-weight: 500;
    margin: 0;
    grid-column: span 2;
    text-align: center;
    margin: 0;
    padding-bottom: 20px;
}

.solutions_text {
    font-size: 24px;
    margin: 0;
    letter-spacing: 1px;
    line-height: 1.6;
}

.solutions_list {
    font-size: 24px;
    margin: 0;
    letter-spacing: 1px;
    line-height: 1.6;
    list-style-type: none;
    font-weight: bold;
    padding-left: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

.solutions_list_item {

}



/*.solutions_content {
 display: grid;
 min-height: 600px;
 grid-template-rows: auto 1fr;
 grid-template-columns: 30% 1fr;
 grid-template-areas:
"pic menu"
"pic description";
 grid-column-gap: 30px;
 grid-row-gap: 30px;

}

.solutions_pic {
 grid-area: pic;
 background-image: url("../../images/solutions.jpg");
 background-position: center;
background-size: cover;
}

.solutions_menu {
 display: flex;

 justify-content: space-between;
 padding: 10px 20px;
 grid-area: menu;
}

.solutions_link {
 text-decoration: none;
 font-size: 50px;

 padding-right: 25px;
 color: rgb(59, 74, 105);
 letter-spacing: 1px;
 margin: 0;
}*/


