.solutions {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
}

.serv {
  display: grid;
  /*grid-template-columns: repeat(3, calc(100%/3));*/
  grid-template-columns: minmax(260px, calc(100%/3)) calc(100%/3) calc(100%/3);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 40px;
  overflow: hidden;
}

.serv_card_background {
/*  background-color: rgb(93, 118, 166, 0.2);*/
  background-color: rgb(245, 245, 245);
  padding-left: 10px;
}

.serv_text {
  font-size: 20px;
  max-width: 600px;
  letter-spacing: 1px;

}


.serv_header {
  font-size: 30px;
}

.serv_textblock {
  grid-column: span 2;
}

.serv_image {
  width: auto;
  max-height: 250px;
  height: 100%;
  margin:0;
  object-fit: contain;
  overflow: hidden;

}
.img_wrapper {
overflow: hidden;
}
.services_list2 {
  padding-left: 0;
  margin-left: 0;
  margin-right: 20px;
}

.serv_list {
  list-style-type: none;
  margin: 0;
  padding-top: 15px;
  padding-left: 0;
  width: 650px;
}