.main {
    max-width: calc(100% - 96px);
    min-width: 320px;
    width: 100%;
    margin: 0 auto;
    padding: 15px 0 15px;
}

@media screen and (max-width: 1170px) {
    .main {
        max-width: calc(100% - 60px);
    }
}


@media screen and (max-width: 930px) {
    .main {
        max-width: calc(100% - 30px);
        padding-top: 0;
    }

}


@media screen and (max-width: 670px) {
    .main {
        max-width: calc(100% - 10px);
    }
}
