.services {
  display: grid;
  grid-template-columns: 30% 1fr;
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 20px;
  background-color: rgb(245,245,245);
}

.services_image {
  max-width: 100%;
  grid-row: 1 / 5;
  border-radius: 3px;
}


.service_card_header {
  margin: 0;
  font-size: 27px;
  font-weight: normal;
  color: rgb(59, 74, 105);
  letter-spacing: 1px;

}

.service_card_text {
  font-size: 20px;
  margin: 0;
  padding-top: 20px;
  color: rgb(59, 74, 105);
  letter-spacing: 1px;
}

@media screen and (max-width: 812px) {
  .services {
    grid-template-columns: 1fr;
  }

  .services_image {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .service_card_header {
    font-size: 22px;
    padding-left: 8px;
  }

  .service_card_text {
    font-size: 16px;
    padding-top: 12px;
    padding-left: 8px;
  }
}
