.cover__subtitle {
  font-size: 32px;
  line-height: 1.2;
  font-weight: 400;
  color: white;
  margin: 10px 0 0;
  z-index: 1;
  letter-spacing: 1px;
}

@media screen and (max-width: 670px) {
  .cover__subtitle {
    max-width: 288px;
    font-size: 14px;
    line-height: 1.14;
    margin: 16px 0 0;
  }
}
