.places {
  max-width: calc(100% - 296px);
  margin: 0 auto;
}

@media screen and (max-width: 1170px) {
  .places {
    max-width: calc(100% - 96px);
  }
}

@media screen and (max-width: 930px) {
  .places {
    max-width: calc(100% - 48px);
  }
}

@media screen and (max-width: 670px) {
  .places {
    max-width: 100%;
  }
}
