

.header {
  max-width: calc(100% - 96px);
  min-width: 320px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
/*  position: fixed;*/
  z-index: 2;
  background-color: white;
/*  left: 50%;
  transform: translate(-50%);*/
  margin: 0 auto;
}

.header_content {
  padding: 28px 0 15px;
  display: flex;
  justify-content: space-between;
  background-color: rgb(245,245,245, 0.4);
}

.logo_container {
  min-width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo_text {
  font-size: 24px;
  font-weight: bold;
  line-height: 28px;
  margin: 0;
  color: rgb(59, 74, 105);
  letter-spacing: 2px;
}

.navigation_wrap {
  display: flex;
  align-items: end;
}

.language_img  {
  height: 35px;
  width: 57px;
  margin: 0;
  padding: 0;
}

.language {
  padding-left: 20px;
  padding-right: 20px;
  border-left: 1px solid rgb(59, 74, 105);
  cursor: pointer;
  display: flex;
  justify-content: end;

}

.burger {
  height: 24px;
  width: 40px;
  padding-right: 10px;
  opacity: 0.7;
  display: none;
}

.language:hover {
  opacity: 0.7;
}

.navigation {
  display: flex;
  font-weight: normal;
  align-items: end;
  padding-right: 60px;

}

.navigation_link {
  text-decoration: none;
  font-size: 20px;
  padding-right: 25px;
  color: rgb(59, 74, 105);
  letter-spacing: 1px;
  text-align: end;
  margin: 0;
}

.navigation_link:hover {
  opacity: 0.7;
}

.navigation_link_active {
  color: cornflowerblue;
 }





@media screen and (max-width: 1170px) {
  .header {
    max-width: calc(100% - 60px);
  }
  .header_content {
    padding-left: 10px;
    padding-right: 10px;
  }

  .logo_text {
    font-size: 18px;
    line-height: 1vh;
    padding-bottom: 8px;
  }

  .navigation_link {
    font-size: 18px;
    padding-right: 20px;
  }
}


@media screen and (max-width: 930px) {
  .header {
    max-width: calc(100% - 30px);
  }

  .logo_text {
    font-size: 16px;
    letter-spacing: 1px;
  }

  .navigation {
    padding-right: 0;
  }

  .navigation_link {
    font-size: 16px;
    padding-right: 10px;
  }

  .navigation_link:last-child {
    padding-right: 20px;
  }

  .language_img  {
    height: 24px;
    width: 40px;


  }

@media screen and (max-width: 780px) {
  .navigation_link {
    padding-right: 7px;
    letter-spacing: 0;
  }

  }

  .language {
    padding-left: 10px;
    padding-right: 10px;

  }



}

@media screen and (max-width: 670px) {
  .header {
    max-width: calc(100% - 10px);
  }
  .navigation {
    display: none;
  }

  .burger {
    display: block;
  }

  .header_content {
    padding-bottom: 10px;
  }


}



